<div id="events-cmp">
  <div class="container-fluid my-3">
    <div class="inner-container">
      <section class="row my-5">
      <h4>Brothers</h4>
      <p>The reunion will take place April 3 - April 7, 2023 in Tallahassee, Fl.  The itinerary is as follows:</p>
      </section>

      <section class="">
        <div class="row my-3">
          <div class="col">
          <!-- Wedneday-->
            <div class="card" style=";">
              <div class="card-body">
                <h5 class="card-title">Wednesday</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

              </div>
            </div>
          </div>

          <div class="col">
          <!-- Thursday -->
          <div class="card" style=";">
            <div class="card-body">
              <h5 class="card-title">Thursday</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          </div>

          <div class="col">
          <!-- Friday   -->
            <div class="card" style=";">
              <div class="card-body">
                <h5 class="card-title">Friday</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row my-3">
        <div class="col">
          <!-- Saturday   -->
            <div class="card" style=";">
              <div class="card-body">
                <h5 class="card-title">Saturday</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>

          <div class="col">
            <!-- Sunday   -->
              <div class="card" style=";">
                <div class="card-body">
                  <h5 class="card-title">Sunday</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
      </section>
    </div>
  </div>
</div>
