<div class="main-content mb-5" role="main">
  <div class="main header">
    <div class="nav">
      <div class="container d-flex align-items-center justify-content-between">
        <div class="logo">
          <strong>iota</strong><span>DELTA</span>
        </div>
        <div class="nav-items">
          <ul class="my-0">
            <li class="mx-3"><a href="">Home</a></li>
            <li class="mx-3"><a href="/registration">Registration</a></li>
            <li class="mx-3">Itinerary</li>
            <li class="mx-3">Announcements</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">

    </div>
  </div>
</div>

<router-outlet></router-outlet>

<div id="footer" class="mt-3">
  Footer
</div>

