.main-content{
    .main{
        &.header{
            background-color: rgb(54, 57, 61);
            box-shadow: 0px -3px 6px -2px inset #0a0f01;
            height: 450px;

        }
        .nav{
            min-height: 60px;
            background-color: #fff;
            box-shadow: 0 3px 5px 0 #000;
            padding: 10px;

            .nav-items ul{
                list-style: none;
                display: flex;

                li:hover{
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .header{
          color: white;
          height: calc(100% - 60px);
          background-image: url('/assets/id50_logo.png');
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          background-color: #fff;
        }
    }
}

#footer{
    min-height: 120px;
    background-color:rgb(54, 57, 61);
    color: #fff;
}

