<div id="admin-cmp" *ngIf="!loginSuccessful; else elseBlock">
    <div class="container">
        <div class="row justify-content-center">
            <div class="login-wrapper p-3 col-sm-12 col-md-6 ">
                <div class="login-form">
                    <h4>Login</h4>
                    <form [formGroup]="adminForm" (ngSubmit)="adminLogin($event)">
                        <div class="mb-3">
                            <label class="form-label">Username</label>
                            <input class="form-control" type="text" formControlName="username"/>
                        </div>
                        <div class="mb-3">
                            <label class="form-label">Password</label>
                            <input class="form-control" type="password" formControlName="password"/>
                        </div>
                        <button class="btn btn-warning" type="submit"> Login </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #elseBlock >
  <div>
    <h2>Admin Dashboard</h2>
    <p>List of things for admin dashboard</p>
    <ul>
      <li>Metrics by line date</li>
      <li>Metrics by time period</li>
      <li>Metrics by package type</li>
      <li>Total Registrations</li>
      <li>Attendance by type (#bruhs vs wives vs kids)</li>
      <li>Mass messaging by email/text</li>
      <li>Complete list of registrations</li>
    </ul>

    <ul>Todo
      <li>Capture line numbers</li>
      <li>Build add spouse/child modal</li>
    </ul>
  </div>
</ng-template>
