<div id="home-cmp">
    <div class="container-fluid p-3 text-center">
        <section class="row justify-content-center p-5">
            <div class="justify-content-center">
              <h2>Welcome to the Iota Delta 50th reunion</h2>
              <div class="col-12">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras blandit eget ipsum vel gravida. Phasellus malesuada eleifend orci, ut blandit turpis vehicula sit amet.
                  Donec id urna ac nisl ultrices rutrum sit amet iaculis ligula. Sed interdum laoreet tincidunt. Ut sed faucibus metus. In et pellentesque metus, maximus convallis tellus.
                  Vivamus placerat est eget purus pellentesque, vel consectetur ligula blandit. Aliquam elementum, sem vitae consectetur faucibus, risus dui dapibus mi, a ullamcorper magna
                  elit in sem. Donec porttitor imperdiet odio. Proin eu dictum leo. Praesent lobortis blandit bibendum. Curabitur interdum quis arcu at vehicula. Praesent sed nisi vitae neque
                  facilisis tincidunt. Vestibulum suscipit eros eget neque feugiat, sed pretium quam dignissim. Curabitur facilisis vel neque non pulvinar. Sed vitae finibus eros.</p>
              </div>
            </div>
        </section>
        <section class="row bg-gold p-5">
          <h2>A legacy beyond measure</h2>
          <img src=""/>
        </section>
        <section class="row p-5">
          <h2>Distinguished Men of Greatness</h2>
          <img src=""/>
        </section>
        <section class="row bg-black p-5">
          <h2>Domination</h2>
          <img src=""/>
        </section>
    </div>
<div id="backdrop"></div>
<div id="id-video" #videoModal>
    <div class="v-modal-header" style="color: #fff; font-size: 1.5em; float:right; cursor: pointer">
      <span (click)="closeVModal()">X</span>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/itnqEauWQZM?start=7" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen autoplay>
        </iframe>
    </div>
</div>
