<div id="home-cmp">
    <div class="container-fluid p-3 text-center">
        <section class="row justify-content-center p-5">
            <div class="justify-content-center">
              <h2>Dear Brothers and Esteemed Guests,</h2>
              <div class="col-12">
                <p>It is with great honor and enthusiasm that we extend a heartfelt welcome to all those who will be joining us for our 50th Anniversary Reunion Celebration in Tallahassee, Florida.</p>
                <p>From April 3-7, 2024, we will gather together to commemorate our half-century of excellence, brotherhood, and service. This milestone event promises to be a truly unforgettable occasion, filled with cherished memories, reconnections, and opportunities for personal and professional growth.</p>
                <p>As Co-Chairs for this momentous occasion, we are steadfast in our commitment to ensuring a meaningful and uplifting experience for each and every attendee. Our overarching goal is to celebrate our illustrious history while nurturing relationships and fostering new bonds. Together, we will reflect on the power of unity and the impact of our fraternity in the world.</p>
                <p>Throughout the duration of our 50th Anniversary Reunion Celebration, a variety of engaging activities and events will take place. From thought-provoking panel discussions and workshops to exciting social gatherings and community service initiatives, there will be something for everyone to enjoy. We have also taken the necessary precautions to ensure that all events adhere to the highest standards of health and safety, so that you can fully immerse yourself in the festivities with peace of mind.
                <p>We would be remiss not to acknowledge the astounding accomplishments and profound impact that the Iota Delta Chapter has had over the past 50 years in Tallahassee, the United States, and around the world. From pioneering change within our communities to producing leaders in various fields, our chapter has left an indelible mark on the fabric of society. We hope that this reunion will serve as a reminder of our collective achievements and inspire each of us to continue striving for excellence.</p>
                <p>With that in mind, we encourage you to mark your calendars and make plans to join us in April 2024. Whether you are a loyal Brother of our dear Fraternity, an esteemed FSU alumnus, or a distinguished guest, we eagerly anticipate your presence at this extraordinary celebration.</p>
                <p>On behalf of the entire organizing committee, we express our sincere gratitude for your support and commitment to the principles of Alpha Phi Alpha Fraternity, Inc. Together, let us embark on this exciting journey of reflection, growth, and everlasting brotherhood.</p>
                <p>Welcome to the Iota Delta Chapter's 50th Anniversary Reunion Celebration!</p>
                <p>Fraternally yours,</p>

              </div>
            </div>
        </section>
        <section class="row bg-gold p-5 justify-content-md-center">
          <!-- <h2>A legacy beyond measure</h2> -->
          <h2>Host Hotel Accommodations</h2>
            <div class="col-4">
            <img src="assets/achotel.jpeg" style="width: 300px; height: 300px"/>
            </div>
            <div class="col-6 hotel-details">
              <h3>AC Hotel Tallahassee by Marriot</h3>
              <p>801 SOUTH GADSDEN STREET,<br />

                TALLAHASSEE, FLORIDA, USA, 32301</p>
            </div>
        </section>
        <section class="row p-5">
          <h2>Distinguished Men of Greatness</h2>
          <img src=""/>
        </section>
        <section class="row bg-black p-5">
          <h2>Domination</h2>
          <img src=""/>
        </section>
    </div>
<div id="backdrop"></div>
<div id="id-video" #videoModal>
    <div class="v-modal-header" style="color: #fff; font-size: 1.5em; float:right; cursor: pointer">
      <span (click)="closeVModal()">X</span>
    </div>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/itnqEauWQZM?start=7" title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen autoplay>
        </iframe>
    </div>
</div>
