<div id="home-cmp">
    <div class="container p-3 text-center">
        <div class="row justify-content-center">
            <h2>Welcome to the Iota Delta 50th reunion</h2>
            <div class="col-8">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras blandit eget ipsum vel gravida. Phasellus malesuada eleifend orci, ut blandit turpis vehicula sit amet. 
                Donec id urna ac nisl ultrices rutrum sit amet iaculis ligula. Sed interdum laoreet tincidunt. Ut sed faucibus metus. In et pellentesque metus, maximus convallis tellus. 
                Vivamus placerat est eget purus pellentesque, vel consectetur ligula blandit. Aliquam elementum, sem vitae consectetur faucibus, risus dui dapibus mi, a ullamcorper magna 
                elit in sem. Donec porttitor imperdiet odio. Proin eu dictum leo. Praesent lobortis blandit bibendum. Curabitur interdum quis arcu at vehicula. Praesent sed nisi vitae neque 
                facilisis tincidunt. Vestibulum suscipit eros eget neque feugiat, sed pretium quam dignissim. Curabitur facilisis vel neque non pulvinar. Sed vitae finibus eros.</p>
        </div>
    </div>
</div>
<div id="backdrop"></div>
<div id="id-video" #videoModal>
    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/itnqEauWQZM?start=7" title="YouTube video player" frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen autoplay>
        </iframe>
    </div>
</div>
